<div class="jumbotron text-center">
    <h2>About Us</h2>

    <p><small>Some generic online store aggregator</small></p>
    <h3>Location</h3>
    <p>
        <small>
            At the moment it's impossible to reach us, because our coordinates are
            <a href="https://en.wikipedia.org/wiki/Challenger_Deep" target="_blank">11°22.4′N 142°35.5′E</a>
        </small>
    </p>
</div>
